
<div class="container ">
  <div class="row">
    <div class="game col-lg-6 col-lg-offset-3">
      <h2>Game</h2>
      <p>
        <%=  @user.name %>
        <%=  @user.id %>
      </p>
      <p id="text-to-input">May your hands always be busy, may your feet always be swift. May you have a strong foundation when the winds of changes shift. May your heart always be joyful, may your song always be sung, and may you stay forever young. </p>
      <hr>

      <p class="next-word"></p>
      <div class="form-group">
      <input class="form-control" type="text" rows="3" name="GameInput" id="GameInput" placeholder="Type the text above"></input>
      </div>
      <a class="btn btn-default stop-time pull-left">STOP TIME</a>
      <a class="btn btn-default start-time pull-left">START TIME</a>
      <%= link_to "End Race", public_index_path, class: "btn btn-danger pull-right" %>

    </div>
  </div>
</div>
