<div class="public-landing">

  <div class="container">
    <div class="block-grid-lg-5 block-grid-md-4 block-grid-sm-2 block-grid-xs-1">

      <% 10.times do %>
      <div class="block-grid-item">
        <div class="card">
          <figure class="avatar">
            <img src="https://randomuser.me/api/portraits/med/men/84.jpg" alt="" />
          </figure>
          <div class="content">
            <p>Gaycha Perez<br>
             Score: <span>23</span></p>
             <p><a href="" class="btn btn-default btn-sm">See Profile</a></p>
           </div>
         </div>
       </div>
       <% end %>

     </div>
   </div>
 </div>

 <%= render 'login' %>
