/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "devise";
 @import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300');



 $cream-green-dark: rgb(0,128,128);
 $salmon: rgb(250,128,114);
 $cream-white: rgb(255,248,222);
 $cream-green: rgb(129,216,208);
 $light-poop: rgb(190,155,123);
 $blue: #006681;

 .game{
  background: white;
  padding: 40px;
  border-radius: 8px;
  margin-top: 60px;
  #GameInput{ font-size: 18px; height: 50px; margin:20px 0; }
  #text-to-input{font-size: 18px;}
  .next-word{
    font-size: 18px; color: #5D605C;
    strong{ color: #2C2D2C; }
  }
}
