
.game{
  background: white;
  padding: 40px;
  border-radius: 8px;
  margin-top: 60px;
  #sec{
    font-size: 18px;
    color: #373737;
    padding: 5px 10px;
    border-radius: 4px;
    width: 80px;
  }
  #gameText { margin: 20px 0; font-size: 17px; color: #6E716C; text-align: justify; }
  #gameInput{ font-size: 30px; height: 80px; margin:20px 0; }
  // #text-to-input{font-size: 24px; }
  .next-word{
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    border-radius: 6px;
    background: #EDF2E9;
    color: #A9A9A9;
    padding:0 15px 15px 15px;
    font-size: 17px;
    strong{ color: #323332; }
  }
}
